/* This file is derived from vf-colibri-eval-v3.dtsi, but is cut down and
 * modified for use with the DLS Digital Power Supply. */

#include <dt-bindings/input/input.h>

/ {
    chosen {
        stdout-path = "serial0:115200n8";
    };

    aliases {
        ethernet0 = &fec1;
    };

    gpio-keys {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpiokeys>;
    };
};

/* Serial console. */
&uart0 {
    status = "okay";
};

/* Ethernet interface */
&fec1 {
    phy-mode = "rmii";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_fec1>;
    status = "okay";
};

/* Colibri SPI to digital control FPGA */
&dspi1 {
    status = "okay";

    spidev0: spidev@0 {
        compatible = "toradex,evalspi";
        reg = <0>;
        spi-max-frequency = <50000000>;
        status = "okay";
    };
};

/* Colibri SPI to ADC FPGA */
&dspi0 {
    status = "okay";
};

/* I2C bus to temperature sensor. */
&i2c0 {
    status = "okay";

    temp1: ad7414@48 {
        compatible = "ad,ad7414";
        reg = <0x48>;
    };
};

&iomuxc {
    vf610-colibri {
        pinctrl_gpiokeys: gpiokeys {
            fsl,pins = <
                VF610_PAD_PTB19__GPIO_41    0x218d
            >;
        };
    };
};
