/* Device tree definitions specific to the Diamond Digital Power Supply carrier
 * board.  This file builds on the vf500-colibri.dtsi definitions for the
 * Toradex Colibri VF50 module. */

/ {
    chosen {
        stdout-path = "serial0:115200n8";
    };

    aliases {
        ethernet0 = &fec1;
    };
};

/* Serial console. */
&uart0 {
    status = "okay";
};

/* Ethernet interface */
&fec1 {
    phy-mode = "rmii";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_fec1>;
    status = "okay";
};

/* Colibri SPI to ADC FPGA */
&dspi0 {
    bus-num = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_dspi0>;
    status = "okay";

    spidev0: spidev@3 {
        compatible = "toradex,evalspi";
        reg = <3>;
        spi-max-frequency = <5000000>;      /* 5 MHz */
        status = "okay";
    };
};

/* Colibri SPI to digital control FPGA */
&dspi1 {
    status = "okay";

    spidev1: spidev@0 {
        compatible = "toradex,evalspi";
        reg = <0>;
        spi-max-frequency = <5000000>;      /* 5 MHz */
        status = "okay";
    };
};

/* I2C bus to temperature sensor. */
&i2c0 {
    status = "okay";

    temp1: ad7414@48 {
        compatible = "ad,ad7414";
        reg = <0x48>;
    };
};

&adc0 {
    status = "okay";
};

&adc1 {
    status = "okay";
};

/* GPIO IO Mux bit assignments.  The table below describing the pin control
 * codes is taken from the development guide, and is itself taken from the VFxxx
 * Controller Reference manual.
 *
 * Bits    Mask    Mask    Function
 * 0       0x0001  IBE     Set to 1 to enable input buffer
 * 1       0x0002  OBE     Set to 1 to enable output buffer
 * 2       0x0004  PUE     Set to 1 for output pull-up/down, 0 for keeper if
 *                         enabled in PKE
 * 3       0x0008  PKE     Set to 1 to enable pull-up/down or keeper
 * 5:4     0x0030  PUS     Pull up or down and strength if enabled in PKE.  0 =>
 *                         100 kOhm pull-down, 1 => 47 kOhm pull-up,
 *                         2 => 100 kOhm pull-up, 3 => 22 kOhm pull-up.
 * 8:6     0x01C0  DSE     Drive strength field.  0 => output disabled,
 *                         1 => 150 Ohm, 2 => 75 Ohm, 3 => 50 Ohm, 4 => 37 Ohm,
 *                         5 => 30 Ohm, 6 => 25 Ohm, 7 => 20 Ohm.
 * 9       0x0200  HYS     Set to 1 for Schmitt trigger input, 0 for CMOS
 * 10      0x0400  ODE     Set to 1 for open drain output
 * 11      0x0800  SRE     Set to 1 for fast slew rate
 * 13:12   0x3000  SPEED   Speed selection.  0 => 50 MHz, 1, 2 => 100 MHz,
 *                         3 => 200 MHz.
 *
 * We program the FPGA output pins to avoid interfering as far as possible with
 * the FPGA's shared use of the CCLK and DSO pins (used for access to the Flash
 * configuration), and to try and avoid triggering a reset of the FPGA.  This is
 * done by leaving the outputs disabled until needed, and leaving the PROGB and
 * CCLK pins pulled up and down respectively. */
&iomuxc {
    vf610-colibri {
        /* We configure the general purpose GPIOs here.  We overwrite the
         * original pinctrl_hog_0 group to free up GPIOs we need elsewhere. */
        pinctrl_hog_0: hoggrp-0 {
            fsl,pins = <
                /* XL TRIG input. */
                VF610_PAD_PTB17__GPIO_39    0x0201
                /* Input switch. */
                VF610_PAD_PTD26__GPIO_68    0x0001      // SW1-8
                VF610_PAD_PTD4__GPIO_83     0x0001      // SW1-4
                VF610_PAD_PTE3__GPIO_108    0x0001      // SW1-2
                VF610_PAD_PTD9__GPIO_88     0x0001      // SW1-1
                /* SPARE 1 to SPARE 9.  Currently input and output disabled. */
                VF610_PAD_PTD10__GPIO_89    0x0000      // SPARE 1
                VF610_PAD_PTC29__GPIO_102   0x0000      // SPARE 2
                VF610_PAD_PTA9__GPIO_2      0x0000      // SPARE 3
                VF610_PAD_PTB28__GPIO_98    0x0000      // SPARE 4
                VF610_PAD_PTC30__GPIO_103   0x0000      // SPARE 5
                VF610_PAD_PTD29__GPIO_65    0x0000      // SPARE 6
                VF610_PAD_PTE5__GPIO_110    0x0000      // SPARE 7
                VF610_PAD_PTE6__GPIO_111    0x0000      // SPARE 8
                VF610_PAD_PTD25__GPIO_69    0x0000      // SPARE 9
                /* Extra ADC input on ADC0 channel 2. */
                VF610_PAD_PTB0__ADC0_SE2    0x0001      // ADC input
                VF610_PAD_PTD11__GPIO_90    0x0201      // Alert input
            >;
        };

        pinctrl_dspi0: dspi0grp {
            fsl,pins = <
                VF610_PAD_PTC0__DSPI0_CS3       0x1182
                VF610_PAD_PTB20__DSPI0_SIN      0x1181
                VF610_PAD_PTB21__DSPI0_SOUT     0x1182
                VF610_PAD_PTB22__DSPI0_SCK      0x1182
            >;
        };

        pinctrl_hog_1: hoggrp-1 {
            fsl,pins = <>;
        };
    };
};
