# This is a configuration file to specify everything we need to set up the
# network configuration for a single machine on the development network.

# Entries for the extra mounts
[fstab]
172.23.100.71:/exports/dls_sw/work  /dls_sw/work   nfs nolock,intr
172.23.100.71:/exports/dls_sw/prod  /dls_sw/prod   nfs nolock,ro,intr

# NTP server entries
[ntp]
server 172.23.240.2

# Resolver entries
[resolv]
search cs.diamond.ac.uk diamond.ac.uk
nameserver 172.23.5.18
nameserver 172.23.70.1
nameserver 172.23.70.16

# Key network entries.
[network]
network 172.23.240.0
netmask 255.255.240.0
gateway 172.23.240.254

# List of valid IP addresses (must be consistent with network settings above)
[valid-ips]
colibri-vf50 172.23.252.22
colibri-vf50-23 172.23.252.23
