# This is a configuration file to specify everything we need to set up the
# network configuration for a single machine on the primary network.

# Entries for the extra mounts
[fstab]
172.23.194.7:/exports/dls_sw/work  /dls_sw/work   nfs nolock,intr
172.23.194.7:/exports/dls_sw/prod  /dls_sw/prod   nfs nolock,ro,intr

# NTP server entries
[ntp]
server 172.23.199.1

# Resolver entries
[resolv]
search pri.diamond.ac.uk
nameserver 172.23.194.5
nameserver 172.23.194.6

# Key network entries: must specify network and netmask, gateway is optional
[network]
network 172.23.192.0
netmask 255.255.240.0

# List of valid IP addresses (must be consistent with network settings above)
[valid-ips]
